// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|IBM+Plex+Sans+Condensed:500,600,700|IBM+Plex+Sans:100,200,300,400,500,600,700&display=swap');

$font-branding: 'IBM Plex Sans Condensed', sans-serif;
$font-headline: 'IBM Plex Sans Condensed', sans-serif;
$font-sans: 'IBM Plex Sans', sans-serif;

// Colors
//------------------------------------------------------------------------------
// Foundry Theme
$masthead-background: $primary;
$main-homepage-background: $primary-lightest;
$main-homepage-icon-color: $primary;
$main-homepage-icon-border: $primary;
$main-page-text-color: $slate;
$main-page-btn-color: $gray-45;
$search-container-background: #fff;
$search-container-hover: darken($primary-lightest, 15%);
$btn-homepage-background: $primary-lightest;
$btn-homepage-border: $primary;
$btn-default-background: $primary-lightest;
$btn-default-background-hover: $accent;
$btn-default-border: $primary;
$btn-default-text-color: $primary;
$btn-default-text-hover: $primary;
$btn-user-initial: $gray-50;
$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$nav-text-color: $gray-40;
